.rating input:hover ~ input,
.rating input:hover {
  --tw-bg-opacity: 1 !important;
}

.rating input {
  --tw-bg-opacity: 0.2 !important;
}

.rating-checked input {
  --tw-bg-opacity: 1 !important;
}
