.prettierignore
node_modules/
coverage/
dist/
build/
preact/
internals/
docs/
.lighthouseci/

*.yml

package-lock.json
package.json
yarn.lock
favicon.png

CHANGELOG.md
**/*.svg
.prettierignore
.gitignore