.prettierignore
node_modules/
coverage/
dist/
build/
preact/
internals/
docs/
.lighthouseci/
**/coins/*
*.yml

package-lock.json
package.json
yarn.lock
favicon.png
.prettierignore

CHANGELOG.md
**/*.svg
.prettierignore
.gitignore
*.png
*.svg
*.webp
*.jpg
*.jpeg
*.gif
_redirects
