html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}

#app,
div[data-rk] {
  min-height: 100vh;
}

.shadow-custom {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
  scrollbar-gutter: unset;
}

.input-disabled {
  cursor: not-allowed;
  color: rgb(229 231 235 / var(--tw-text-opacity));
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
}

.fadein-button-animation::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-property: transform;
  background-color: #24a1de;
}

.border-telegram {
  border-color: #24a1de;
}

.fadein-button-animation:hover::before {
  transform: scaleX(1);
}

.click-animation:active:hover,
.click-animation:active:focus {
  animation: button-pop 0.2s ease-out;
  transform: scale(var(1, 0.97));
}

@keyframes click {
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@layer components {
  .step-vortex {
    min-height: 2.5rem !important;
  }
  .step-vortex::before {
    @apply bg-blue-700 !important;
    width: 2px !important;
  }
  .step-vortex::after {
    @apply text-blue-700 !important;
  }
  .step-primary.step-vortex::after {
    @apply text-white !important;
  }
}
