@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

:root {
  --color-primary: #0f4dc0;
  --color-primary-content: #fff;
  --color-secondary: #f4f5f6;
  --color-secondary-content: #58667e;
  --color-accent: #1de7df;
  --color-accent-content: #000;
  --color-neutral: #eff2f5;
  --color-neutral-content: #58667e;
  --color-base-100: #f5f9fa;
  --color-base-200: #fff;
  --color-base-300: #e3e7eb;
  --color-base-content: #58667e;

  --radius-field: 9px;
  --border: oklch(0.922 0 0);

  --text: #111;
  --bg-modal: #fff;
  --modal-border: #e5e5e5;
  --rounded-btn: 9px;
  --btn-text-case: none;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
  }

  #app,
  div[data-rk] {
    min-height: 100vh;
  }

  :root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
    scrollbar-gutter: unset;
  }
}

/* Component Overrides (Unlayered to ensure precedence over DaisyUI layers) */
.modal-box {
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.input-disabled {
  cursor: not-allowed;
  color: rgb(229 231 235 / var(--tw-text-opacity));
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
}

.input {
  height: unset;

  &:has(> input[disabled]),
  &:is(:disabled, [disabled]) {
    background-color: transparent;
  }
}

.input-vortex-primary:focus-within {
  outline: 2px solid var(--color-primary);
}

.input-ghost[aria-readonly="true"]:focus,
.input-ghost[aria-readonly="true"]:focus-within {
  background-color: transparent !important;
  color: var(--color-base-content);
  border-color: #0000;
  box-shadow: none;
}

.step-vortex {
  min-height: 2.5rem !important;
}
.step-vortex::before {
  @apply bg-blue-700;
  width: 2px !important;
}
.step-vortex::after {
  @apply text-blue-700;
}
.step-primary.step-vortex::after {
  @apply text-white;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  min-height: 0rem !important;
}

.collapse-title::after {
  @apply text-blue-700;
  @apply w-3;
  @apply h-3;
  top: 1.4rem !important;
}

.tooltip-sm:before {
  width: 13rem !important;
}

.btn {
  height: 3rem;
  box-shadow: none;
}

.btn-vortex-primary {
  @apply bg-blue-700 text-white rounded-[var(--radius-field)] border border-blue-700 cursor-pointer;
}

.btn-vortex-primary:hover {
  @apply bg-blue-200 text-blue-700;
}

.btn-vortex-primary:disabled {
  @apply opacity-40;
}

.btn-vortex-accent {
  @apply bg-gray-200;
  @apply text-gray-700;
  @apply rounded-full;
  @apply border;
  @apply border-gray-300;
  @apply duration-200;
}

.btn-vortex-accent:hover {
  @apply bg-blue-100;
  @apply text-blue-700;
  @apply border-blue-300;
}

.btn-vortex-primary-inverse {
  @apply bg-white;
  @apply text-blue-700;
  @apply rounded-xl;
  @apply border;
  @apply border-blue-700;
  @apply cursor-pointer;
}

.btn-vortex-primary-inverse:hover {
  @apply bg-blue-200;
  @apply border-blue-700;
}

.btn-vortex-primary-inverse:disabled {
  @apply bg-white;
  @apply text-blue-700;
  @apply border-blue-700;
  @apply opacity-40;
}

.btn-vortex-primary-inverse:active,
.btn-vortex-primary-inverse:focus {
  @apply bg-blue-200;
  @apply text-blue-700;
  @apply border-blue-700;
}

.btn-vortex-secondary {
  @apply text-white;
  @apply bg-pink-600;
  @apply border-pink-600;
  @apply shadow-none;
}

.btn-vortex-secondary:hover {
  @apply bg-pink-100;
  @apply text-pink-600;
  @apply border;
  @apply border-pink-600;
}

.btn-vortex-danger {
  @apply bg-red-600;
  @apply text-white;
  @apply rounded-xl;
  @apply border;
  @apply border-red-600;
  @apply shadow-none;
}

.btn-vortex-danger:hover {
  @apply bg-white;
  @apply text-red-800;
  @apply border-red-800;
}

.btn-vortex-danger:disabled {
  @apply bg-red-600;
  @apply text-white;
  @apply border-red-600;
  @apply opacity-40;
}

.btn-vortex-danger:active,
.btn-vortex-danger:focus {
  @apply bg-red-100;
  @apply text-red-800;
  @apply border-red-800;
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .fadein-button-animation::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-property: transform;
    background-color: #24a1de;
  }

  .fadein-button-animation:hover::before {
    transform: scaleX(1);
  }

  .border-telegram {
    border-color: #24a1de;
  }

  .animate-appear {
    animation: appear 0.3s ease-out forwards;
  }

  .animate-float {
    animation: float 5s ease-in-out infinite;
  }
  .animate-float-delayed {
    animation: float-delayed 6s ease-in-out infinite;
  }

  .animate-slide-up {
    animation: slideUp 0.3s ease-out forwards;
  }

  .text-h1 {
    @apply text-4xl md:text-5xl lg:text-6xl leading-[1.18];
  }

  .text-h2 {
    @apply text-3xl md:text-4xl;
  }

  .text-h3 {
    @apply text-xl md:text-2xl;
  }

  .text-body-lg {
    @apply text-base md:text-lg leading-relaxed;
  }

  .text-body {
    @apply text-base;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  from {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-25px) scale(1.02);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes float-delayed {
  from {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(35px) scale(1.02);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}

.animate-caret-blink {
  animation: caret-blink 1.2s ease-out infinite;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
